{
  "extends": [
    "cp",
    "prettier"
  ],
  "rules" : {
    "metrics/metrics-documentation": 0,
    "no-unused-expressions": 0,
    "prefer-destructuring": ["error", {"object": true, "array": false}]
  }
}
